@import '@fontsource/merriweather';
@import '@fontsource/roboto';
$primary-font-color: #55328B;
$secondary-font-color: #666371;
$primary-background-color: #ffffff;
$font-text: 'Roboto', sans-serif;
$font-title: 'Merriweather', sans-serif;