@use './partials/variables' as *;
@import 'bootstrap/scss/bootstrap';

body{
    color: $primary-font-color;
    background-color: $primary-background-color;
    font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-title;
    font-weight: bold;
}

p,
span{
    color: $secondary-font-color;
}

span{
    font-size: .7rem;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

.section-container{
    margin: 200px 0px;
}

.btn-white{
    background-color: $primary-background-color;
    color: $primary-font-color;
    &:hover{
        background-color: $primary-font-color;
        color: $primary-background-color;
    }
}

.btn-purple{
    background-color: $primary-font-color;
    color: $primary-background-color;
    &:hover{
        background-color: #F0EDF5;
        color: $primary-font-color;
    }
}

.swiper-button-next,
.swiper-button-prev{
    width: 30px;
    height: 60px;
    background-color: $primary-font-color;
    opacity: .5;
    color: white;
}

.swiper-button-next{
    right: 0px;
}

.swiper-button-prev{
    left: 0px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 1rem;
}